@tailwind base;
@tailwind components;
@tailwind utilities;


.post-container {
    background-color: white;
    border: solid black 2px;
    margin: 20px;
}

.post {
    color: black;
}

.post-title {
    font-size: 1.6em;
    font-weight: bold;
}

.link-show-unique-post {
    text-decoration: none;
}

/* .post-content {
    color: ;
} */

.post-des {
    font-style: italic;
}



/* ALL FORM */


.form-group {
    color: black;
    /* width: 30%; */
}

.form-control {
    width: 300px;
}

.form-area {
    height: 400px;
}

label {
    color: white;
}

.btn {
    background-color: white;
    color: black;
    padding: 3px;
    border-radius: 5px;
    font-size: 1em;
    height: 30px;
}

.container-form {
    display: flex;
    justify-content: space-evenly;
}


/* POST CARD */

.all-card {
    background-color: #1F2937;
    padding: 20px;
    margin: 30px;
    color: white;
}

.card-footer {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.card-header {
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: solid 1px #364050;
    margin-bottom: 10px;
}

.card-content {
    font-size: 1.3em;
    margin-bottom: 5px;
}

.card-description {
    font-size: 1.1em;
    margin-bottom: 10px;
    font-style: italic;
}



/* ADD BTN  */

.btn-add-post {
    margin: 30px;
    font-size: 1.5em;
    text-align: end;
}


